/**************
Project Name : Mary Portfolio
Developer Name : Shariar Arefin
**************/

/*1. Global Section Start */
body{
   
    font-family: 'Open Sans', sans-serif;
    
}
.primary-color{
    color:#FD6E0A;

}
.btn-primary{
    color:#FFF;
background: #FD6E0A;
font-size: 20px;
font-weight: 700;
border-radius: 5px;
border:0;
padding:15px 36px;


}
.section-title{
    color:  #181818;
text-align: center;

font-size: 35px;
font-weight: 700;
}
.section-content{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
/* Global Section End */
/*2.Header Section Start */

.logo{
    font-size: 45px;
    font-weight: 800;
    color:#181818;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right:50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
nav ul li button{
    border:0;
    padding:15px 36px;
}
    /*2.1 Hero Section*/

    .header{
        background-color: #FFF8F3;

    }
    .hero{
        display:flex;
        padding:30px 30px 0px 150px; 
        align-items: center;
        justify-content: space-between;
        background: url("../images/header_bg.png");
        background-repeat: no-repeat;
        background-position: bottom right;

    }
    .hero-heading{
        color: #474747;
        font-size: 45px;
        font-weight: 600;
        margin:0;

    }
    .hero-heading-name{
        color: #181818;
        font-size: 85px;
        font-weight: 700;
        margin:0;
    }
    .hero-description{
        color: #757575;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px; 
        max-width: 585px;
    }
    .hero-img img{
        width: 584px;
        margin:-10px 0 0 0 ;
    }

/*2.Header Section Ends*/

/*3. Main Section Start */
main{
    max-width: 1140px;
    margin:0 auto;
}

.about{
    padding:130px 156px;
    border-radius: 10px;
    margin:130px 0;
    background: #FFF8F3;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

}
.info{
    text-align: center;
    color: #757575;
font-size: 20px;
font-weight: 400;
line-height: 30px; /* 150% */
}
.info-description{
    color:  #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}


/* Main Section Start */



